.w100{
    width: 100%;
}
.card{
    width: 94%;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(rgba(218, 206, 206, 0.644), rgba(212, 204, 204, 0.7) , rgba(214, 185, 185, 0.7) ,rgba(209, 194, 194, 0.7));
}
