.resimg{
    max-width: 150px;
    max-height: 150px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.table{
    width: 100%;
    border-collapse: collapse;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.table tr{
    border: 1px solid black;
}
.table tr td{
    padding: 15px 10px;
    border: .5px solid #03030365;
    font-size: medium;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.btn{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}

.global{
    color: rgb(0, 0, 0);
}
h1{
    font-size: 30px;
    margin-top: 10px;
}

.card{
    width: 94%;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
   background-image: linear-gradient(rgba(218, 206, 206, 0.644), rgba(212, 204, 204, 0.7) , rgba(214, 185, 185, 0.7) ,rgba(209, 194, 194, 0.7));
}