<mat-card class="card">

    <!-- {{questions | json}} -->
    
    <div class="text-center mt10">
        <h2>Update Question to {{QTitle}} Quiz</h2>
    </div>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form (ngSubmit)="updatequestion()">
                    <!-- content -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Write Question Content</mat-label>
                        <textarea [(ngModel)]="questions.content"  name="content" matInput placeholder="Enter here Content" rows="3" required></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- options 1 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 1</mat-label>
                                <input [(ngModel)]="questions.option1" name="option1" matInput placeholder="Enter Here" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- options 2 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 2</mat-label>
                                <input [(ngModel)]="questions.option2" name="option2" matInput placeholder="Enter Here" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- options 3 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 3</mat-label>
                                <input [(ngModel)]="questions.option3" name="option3" matInput placeholder="Enter Here">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- options 4 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 4</mat-label>
                                <input [(ngModel)]="questions.option4" name="option4" matInput placeholder="Enter Here">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- answer -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Select Answer</mat-label>
                        <mat-select name="answer" [(ngModel)]="questions.answer" required>
                            <mat-option *ngIf="questions.option1" [value]="questions.option1">{{questions.option1}}</mat-option>
                            <mat-option *ngIf="questions.option2" [value]="questions.option2">{{questions.option2}}</mat-option>
                            <mat-option *ngIf="questions.option3" [value]="questions.option3">{{questions.option3}}</mat-option>
                            <mat-option *ngIf="questions.option4 required" [value]="questions.option4">{{questions.option4}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    <div class="container text-center mb20">
                        <button type="submit" mat-raised-button color="primary">Update Question</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>

