<section>
    <div class="bootstrap-wrapper white ">
        <div class="container mt100">
            <div class="text">
                <p class="heading">Cyber <Span>Pirates</Span> Brings</p>
                <p class="subhead">Industry Level Cybersecurity<br><br> Learning <span> at your home.</span></p>

                <p class="Abstract mt20">Explore Interactive Article, Courses, Quiz with the <br> benefits of
                    Performance Tracking and Increasing <br>Your Skills which you can put into your resume <br> Increasing The Chances Of
                    getting hired</p>
                <div style="margin-top: 20px;" class="btn">
                    <a [routerLink]="'/login'" class="button">Explore us ➤</a>
                </div>
            </div>

            <div class="img">
                <img src="../../../assets/home.png" height="280px" width="480px">
            </div>
        </div>

    </div>
</section>

<section class="course">
    <h1 class="white">Courses <span>Available</span></h1>
    <h4 class="white">The courses we offer are </h4>

    <div class="row">
        <div class="course-col">
            <h3><span> Introduction to Cyber <br> Security</span></h3>
            <p class="para"> This path will give you a hands-on introduction to different areas within cyber, including:
                <br> <br>
                1/-Careers in Cyber Security <br>
                2/-Offensive Security <br>
                3/-Defensive Security <br>
                4/-Exploring security topics in the industry
            </p>

        </div>

        <div class="course-col">
            <h3><span>Offensive Pentesting</span></h3>
            <p class="para">The aim of this path is to make you ready for real world penetration testing by teaching you
                how to use industry standard tools along with a methodology to find vulnerabilities in machines. By the
                time you complete this path, you will be well prepared for interviews and jobs as a penetration tester.
                To complete this path you should have a basic to medium understanding of computing.
            </p>

        </div>

        <div class="course-col">
            <h3><span>CompTIA Pentest+</span></h3>
            <p class="para"><br> This path will be looking at the following areas: <br><br>
                1/-Industry standard penetration testing tools <br>
                2/-Identifying and exploiting different network services <br>
                3/-Exploiting web applications through todays most common vulnerabilities <br>
                4/-Understanding Windows active directory and attacking Kerberos <br>
                5/-Post exploitation techniques (with Powerview, Bloodhound and Mimikatz) <br>
            </p>
        </div>
        <div class="course-col">
            <h3><span>Cyber Defense</span></h3>
            <p class="para"><br>
                This path will be looking at the following areas: <br><br>
                1/- Getting Started <br>2/- Threat and Vulnerability Management <br>3/- Security Operations and
                Monitoring <br>4/- Threat Emulation <br>5/- Incident Response & Forensics <br>6/- Malware Analysis and
                Reverse Engineering
            </p>
        </div>
    </div>

</section>

<section class="cta">
    <h1>Join us For Various Online Courses and Get into <br> the community of like-minded people.</h1>

    <h2 class="h2">Contact Us</h2>
    <div class="contact">
        <a href="#" target="_blank">
            <img src="../../../assets/Contact Us/instagram.png" width="40px" height="40px"> 
        </a>
        <a href="#" target="_blank">
            <img src="../../../assets/Contact Us/discord.png" width="40px" height="40px"> 
        </a>
        <a href="https://github.com/Cyberpirate004" target="_blank">
            <img src="../../../assets/Contact Us/github.png" width="40px" height="40px"> 
        </a>
        <a href="https://www.linkedin.com/in/sujal-sahu-3951ba20a/" target="_blank">
            <img src="../../../assets/Contact Us/linkedin.png" width="40px" height="40px"> 
        </a>
      
    </div>
</section>