<mat-card class="card">

    <!-- {{questions | json}} -->
    
    <div class="text-center mt10">
        <h2>Adding Questions to {{qTitle}} Quiz</h2>
    </div>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form (ngSubmit)="addQuestion()">
                    <!-- content -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Write Question Content</mat-label>
                        <textarea [(ngModel)]="questions.content"  name="content" matInput placeholder="Enter here Content" rows="3"></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- options 1 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 1</mat-label>
                                <input [(ngModel)]="questions.option1" name="maxMarks" matInput placeholder="Enter Here">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- options 2 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 2</mat-label>
                                <input [(ngModel)]="questions.option2" name="maxMarks" matInput placeholder="Enter Here">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- options 3 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 3</mat-label>
                                <input [(ngModel)]="questions.option3" name="maxMarks" matInput placeholder="Enter Here">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- options 4 -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option 4</mat-label>
                                <input [(ngModel)]="questions.option4" name="maxMarks" matInput placeholder="Enter Here">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- answer -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Select Answer</mat-label>
                        <mat-select [(ngModel)]="questions.answer" name="answer">
                          <mat-option [value]="questions.option1">Option 1</mat-option>
                          <mat-option [value]="questions.option2">Option 2</mat-option>
                          <mat-option [value]="questions.option3">Option 3</mat-option>
                          <mat-option [value]="questions.option4">Option 4</mat-option>
                        </mat-select>
                      </mat-form-field>

                    <div class="container text-center mb20">
                        <button mat-raised-button color="primary">Add Question</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>






<!-- <div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="card">
                
                
                <mat-card-header>
                    <mat-card-subtitle>
                        Enter the details of the new questions
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form>

                         content Field 
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Question Content</mat-label>
                            <textarea name="content" matInput placeholder="Enter Questions Content" rows="2"></textarea>
                        </mat-form-field>


                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> -->